:root {
  --primary-color: #bdddf3;
  --secondary-color: #02121b;
  --tertiary-color: #0d1718;
}
* {
  box-sizing: border-box;

  padding: 0;
}

body {
  
  font-family: Helvetica, Arial, sans-serif;
}

/* HEADER / NAV BAR STYLES START */

header nav {
  margin: 7px 0;
  height: 100px;
  width: 100%;
}




.nav {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  align-items: flex-end;
  display:space-between;
  color: gold;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: right;
  
}

/* HEADER / NAVBAR STYLES END */



/* END FOOTER STYLES */

/* STYLE ALL SECTION TAGS */
div {
  padding: 5px;
}

/* HERO STYLES START */
.hero {
  background-image: url("../images/header-photo1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: shrink auto;
  background-position: 100%;
  height: 600px;
  background-color: aliceblue;
}
#main {
  background-image: url("../images/show-finder.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  background-color: aliceblue;
}


.otherProjects {
  display: flex;
  justify-content: space-evenly;
  
  
  
}
.image {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;

}

#runBuddy {
  background-image: url("../images/run-buddy.PNG");
  background-size: cover;
  height: 400px;
  width:48%;
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
}
#workDay {
  background-image: url("../images/workdayscheduler.png");
  background-size: cover;
  height: 400px;
  width: 48%;
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
}

#growing {
  background-image: url("../images/horiesnon.jpg");
  background-size: cover;
  height: 400px;
  width: 48%;
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
}

#beautiful {
  background-image: url("../images/Screenshot\ 2021-09-26\ 123643.jpg");
  background-size: cover;
  height: 400px;
  width: 48%;
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
}

/* REACH OUT STYLES START */
#credits {
  font-size: medium;
  justify-content: left;
}

#contact {
  font-size: medium;
  color: var(--secondary-color);
  justify-content: right;
}

/* REACH OUT STYLES END */
/* FOOTER STYLES START */
footer {
  background: var(--primary-color);
  padding: 5px 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

footer h4 {
  color: var(--secondary-color);
  font-size: 25px;
  margin: 0;
}

/* UTILITIES */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-row {
  display: flex;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h4,
  footer div {
    text-align: center;
    width: 100%;
  }
  
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  
}
