


  :root {
    --primary-color: #bdddf3;
    --secondary-color: #02121b;
    --tertiary-color: #0d1718;
  }
 * {
   box-sizing: border-box;
   margin: auto;
   padding: 0;
}

body {
  color: var(--tertiary-color);
  font-family: Helvetica, Arial, sans-serif;
}


/* HEADER / NAV BAR STYLES START */

header



.
header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: right;
  list-style: none;
}

header nav ul li {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  align-items: flex-end;
  flex-direction: column;
}


/* HEADER / NAVBAR STYLES END */



/* FOOTER STYLES START */
footer {
  background: var(--primary-color);
  padding: 5px 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

footer h4 {
  color: var(--secondary-color);
  font-size: 25px;
  margin: 0;
}


/* END FOOTER STYLES */

/* STYLE ALL SECTION TAGS */
div {
  padding: 60px;
}

/* HERO STYLES START */
.hero {
  background-image: url("../images/header-photo1.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 100%;
  height: 600px;
  background-color: aliceblue;
}

hero  h1 {
  justify-content: center;
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: rgb(17, 17, 16);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#cat {
  display:flex;
  align-items: center;
  justify-content: center;
}

#cat div {
  width: 100%;
}
/* HERO STYLES END */


 

/* REACH OUT STYLES START */
#credits{
  font-size: medium;
  justify-content: left;
}

#contact {
font-size: medium;
color:var(--secondary-color);
justify-content: right ;
}




/* REACH OUT STYLES END */

/* UTILITIES */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-row {
  display: flex;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }

  .hero-cta, .hero-form {
    width: 100%;
  }
  
  .hero-cta {
    text-align: center;
  }

  .section-title {
    width: 80%;
  }
  
  .trainer {
    flex: 0 70%;
  }
  
  }


/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }

  .step h3 {
    flex: 1 100%;
    text-align: center;
  }

  .step-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .step-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .step-text {
    flex: 100%;  
  }

  .trainer-bio h3, .trainer-bio h4 {
    display: block;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .hero-form button {
    width: 100%;
  }

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .trainer {
    flex: 0 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }

  .contact-form {
    order: 3;
  }
}